@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(61, 61, 61);
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 255, 255);
}

.name-home {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 300;
    margin: 10px 0;
    color:rgb(255, 255, 255);
}

.card-name {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
    color:rgb(255, 255, 255);
}

p {
    margin: 0;
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

a {
    color:rgb(243, 223, 255);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 400;
}

.links-home {
    color:rgb(243, 223, 255);
    font-size: 3rem;
    text-decoration: none;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.main-home {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background-color: rgb(61, 61, 61);
    color:rgb(255, 255, 255);
}

.main-text-home {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    color:rgb(255, 255, 255);

}

.square-home {
    width: 98%;
    height: 100%;
    background-color: rgb(102, 102, 102);
    text-align: center;
    margin: 5rem 1% 1%;

}

.sub-square-home {
    width: 98%;
    height: 100%;
    margin: 0 1% 1%;
    position: relative;
    text-align: center;
}

.main-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

.sub-section-home{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

.hero-image-home {
    position: relative;
    width: 50%;
    height: 350px;
    display: flex;
    margin-bottom: 4rem;
    margin-left: 8rem;
}

.cube-home {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube-home:before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube-home:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html-home {
    left: 100px;
    bottom: 80px;
    background-image: url("../images/html-square.png");
    background-size: cover;
    background-color: rgb(175, 119, 227);
    box-shadow: -60px 60px 20px rgb(250 250 250/ 15%);
}

#html-home:before {
    background-color: rgb(189, 154, 221);
}

#html-home:after {
    background-color: rgb(205, 188, 221);
}

#css-home {
    left: 250px;
    bottom: 240px;
    background-image: url("../images/css-square.png");
    background-size: cover;
    background-color: rgb(227, 119, 191);
    box-shadow: -100px 100px 20px rgb(250 250 250/ 15%);
}

#css-home:before {
    background-color: rgb(221, 154, 207);
}

#css-home:after {
    background-color: rgb(221, 188, 211);
}

#javascript-home {
    left: 450px;
    bottom: 200px;
    background-image: url("../images/javascript-square.png");
    background-size: cover;
    background-color: rgb(119, 227, 186);
    box-shadow: -40px 40px 20px rgb(250 250 250/ 15%);
}

#javascript-home:before {
    background-color: rgb(154, 221, 202);
}

#javascript-home:after {
    background-color: rgb(188, 221, 212);
}


#react-home {
    left: 350px;
    bottom: 40px;
    background-image: url("../images/react-square.png");
    background-size: cover;
    background-color: rgb(119, 193, 227);
    box-shadow: -80px 80px 20px rgb(250 250 250/ 15%);
}

#react-home:before {
    background-color: rgb(154, 189, 221);
}

#react-home:after {
    background-color: rgb(188, 200, 221);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color:rgb(19, 19, 19);
}


@media only screen and (max-width: 1200px) {
    .hero-image-home {
        display: none;
    }

    .main-home {
        flex-direction: column;
        align-items: center;
    }
    .name-home {
        font-size: 3.5rem;
        line-height: 3rem;
        font-weight: 300;
        color:rgb(255, 255, 255);
    }
}

@media only screen and (max-width: 1000px) {
    .hero-image-home {
        width: 100%;
    }
    .sub-section-home {
        display: flex;
        flex-direction: column;
    }

    .sub-square-home {
        display: flex;
        justify-content: center;
    }

    .main-home {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .name-home {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 300;
        color:rgb(255, 255, 255);
    }
  
}