
.navbar {
    background-color: #888888;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  
  .btn {
    animation: moverDerecha 2s ease-in;
    width: 10rem;
    height: 70%;
    background-color: #222222;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #b9b9b9;
    margin: 0.5rem;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #ffffff;
    color: #000000;
  }

  @keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

  /* .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #888888;
    width: 20rem;
    height: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition:  2s;
    box-shadow: 10px 10px 10px #000000;
    border-radius: 1rem;
  }
  
  .nav-menu.active {
    left: 10rem;
    top: 1rem;
    transition: 0.8s;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 6rem;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #494949;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #888888;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .ml-1{
      margin-left: 1rem;
  }
  
  .navbar .navbar-title {
    display: flex;
    justify-content: flex-end;
  }

  .nav-icon {
    width: 50%;
    height: 30%;
  }

  span {
    margin-left: 16px;
  } */