
.navbar {
    background-color: #888888;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #888888;
    width: 20rem;
    height: 70%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition:  2s;
    box-shadow: 10px 10px 10px #000000;
    border-radius: 1rem;
  }
  
  .nav-menu.active {
    left: 10rem;
    top: 1rem;
    transition: 0.8s;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 6rem;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #494949;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #888888;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  .ml-1{
      margin-left: 1rem;
  }
  
  .navbar .navbar-title {
    display: flex;
    justify-content: end;
  }

  .nav-icon {
    width: 50%;
    height: 30%;
  }

  span {
    margin-left: 16px;
  }